.guoui1{
    margin-left: -85px;
}
.guoui2{
    margin-top: 8px;margin-left: 15px
}
.twoWords{
    margin-top: 8px;margin-left: -10px
}
.guoui3{
    width: 150px;
}
.guoui4{
    margin-left: -90px;
}
.guoui5{
    margin-top: 8px;margin-left: 13px;
}
.guoui6{
    width: 150px;
}
.guoui7{
    margin-left: -65px
}
.guoui8{
    margin-left: -19px
}
.guoui9{
    margin-top: 8px;margin-left: 15px
}
.guoui10{
    width: 413px
}
